<mat-card class="item" style="text-align: center;">
    <mat-card-title>{{ score.title }}</mat-card-title>
    <mat-card-content>
        <circle-progress [percent]=percentage() [maxPercent]=100 [radius]="120" [outerStrokeWidth]="18"
            [innerStrokeWidth]="13" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'"
            [startFromZero]="false" [animation]="true" [animationDuration]="1200" [showUnits]="false"
            [titleFormat]=formatTitle [subtitleFormat]=formatSubtitle [subtitleFontSize]="'16'">
        </circle-progress>

        <div class="container" justify="center">
            <button (click)=updateScore(-2) mat-mini-fab color="accent" aria-label="minus two"
                style="margin-right:5px;">
                -2
            </button>
            <button (click)=updateScore(-1) mat-mini-fab color="accent" aria-label="minus one"
                style="margin-right:5px;">
                -1
            </button>
            <button (click)=updateScore(1) mat-mini-fab color="primary" aria-label="plus one" style="margin-right:5px;">
                +1
            </button>
            <button (click)=updateScore(2) mat-mini-fab color="primary" aria-label="plus two">
                +2
            </button>
        </div>
    </mat-card-content>
</mat-card>

<mat-divider></mat-divider>